<apex:page showheader="false">
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script type="text/javascript" src="//rawgit.com/arun-sfdc/Analytics-API/master/ngAnalyticsApi.js"></script>
<script>
    var HEADER = ['Account', 'Amount 2012', 'Amount 2013', 'Difference', 'Percentage'];
    var REPORTS = ['00OB0000000cZRY', '00OB0000000c1Ng'];
    var RECORD_COUNT = false; // Ignore record count unless its the only aggregate
    var COLUMNS = null;// Use this for default report formatting
    // Example of using custom formulae
    //var COLUMNS = function(row) {
    //    return [row[0], numeral(row[1]).format('$0,0.00'), numeral(row[2]).format('$0,0.00'), numeral(row[2] - row[1]).format('$0,0.00'), numeral(row[2]/row[1] - 1).format('0.0%')];
    //}
    
    angular.module('myApp', ['analyticsApi']).controller('myController', ['analyticsApiService', '$scope', '$http', '$timeout',
        function myController(analyticsApiService, $scope, $http, $timeout) {
            analyticsApiService.init('{!$Api.Session_ID}');
            var aggLength = 0;
            analyticsApiService.fetchReports(REPORTS , function(reportResults) { // Run the reports using Analytics API
                var mergedrows = {};
                angular.forEach(reportResults, function(result, key) {
                    angular.forEach(result.groupingsDown.groupings, function(grouping, gkey) { // Merge the reports using the first down grouping
                        if(undefined === mergedrows[grouping.label])
                            mergedrows[grouping.label] = [grouping.label];
                        angular.forEach(result.factMap[grouping.key+'!T'].aggregates, function(agg, akey) {
                            if(true == RECORD_COUNT || result.reportMetadata.aggregates[akey] != "RowCount"
                                || 1 == result.reportMetadata.aggregates.length) {
                                if(null === COLUMNS)
                                    mergedrows[grouping.label].push(agg.label); // Collect the first aggregate
                                else
                                    mergedrows[grouping.label].push(agg.value); // Collect the first aggregate
                            }
                        });
                    });
                    aggLength += Math.max(1, (result.reportMetadata.aggregates.length - (RECORD_COUNT ? 0 : 1)));
                });
                console.log(mergedrows);
                $scope.header = HEADER;
                $scope.rows = [];
                for(var key in mergedrows) {
                    if(REPORTS.length == 1 || aggLength + 1 == mergedrows[key].length) { // Apply Inner Join
                        if(null != COLUMNS) {
                            mergedrows[key] = COLUMNS(mergedrows[key]);
                        }
                        $scope.rows.push(mergedrows[key]);
                    }
                }
                $scope.table = false;
            });
        }
    ]);
</script>
<div ng-app="myApp" ng-controller="myController">
    <div class="scorecard" ng-if="false == table">
        <button ng-click="table=true">Table View</button><button ng-click="table=false">Card View</button>
        <div ng-repeat="row in rows track by $index" class="row" ng-if="false == table">
            <p ng-repeat="cell in row track by $index">
                <b ng-if="0==$index">{{cell}}</b>
                <span ng-if="0!=$index">{{header[$index]}}..............{{cell}}</span>
            </p>
        </div>
        <table class="scorecard" ng-if="true == table">
             <tr><th ng-repeat="col in header track by $index">{{col}}</th></tr>
             <tr ng-repeat="row in rows track by $index">
                 <td ng-repeat="cell in row">{{cell}}</td>
             </tr>
        </table>
    </div>
</div>
<style>
th,td{
    border: 1px solid gray;
    padding: 4px;
}
.scorecard{
    padding: 24px;
    font: 24px Helvetica;
    text-align: left;
}
.row{
    padding-bottom: 24px;
    border-bottom: 1px solid gray;
}
</style>
</apex:page>
